datasets==2.19.1
matplotlib==3.8.4
numpy==1.26.4
numpyencoder==0.3.0
pandas==2.2.2
prettytable==3.10.0
pykan==0.0.5
scikit_learn==1.4.2
torch==2.3.0+cu118
torchtext==0.18.0
torchvision==0.18.0+cu118
tqdm==4.66.4
transformers==4.40.1
